:root{
    --orange : hsl(31, 77%, 52%);
    --cyan : hsl(184, 100%, 22%);
    --dark-cyan : hsl(179, 100%, 13%);
    --transparent-white :  hsla(0, 0%, 100%, 0.75);
    --light-grey : hsl(0, 0%, 95%);
    --font-size : 13px;
 }
* {
    box-sizing: border-box;
  }
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(46, 40, 40);
}
/* Grid Design */
.grid-container {
    display: grid;
    width: 70%;
    height: 80%;
    margin: auto;
    margin-top: 20px;
    /* grid-template-columns: minmax(50%, 80%) 1fr 1fr; */
    /* grid-template-columns: minmax(100px, 200px) 700px; */
    /* grid-template-columns: repeat(auto-fit, minmax(375px, 1fr)); */
    grid-template-columns: 600px 345px;
    /* background-color: #2196F3; */
    gap: 10px;
}
.grid {
    display: grid;
    width: 70%;
    height: 70%;
    margin: auto;
    margin-top: 10px;
    grid-template-columns: 380px 565px;
    /* background-color: #2196F3; */
    gap: 10px;
    margin-bottom: 20px;
}

.item-1 {
    /* grid-column: 1 / span 2; */
    background-color: rgb(121, 17, 17);
    height: 300px;
}
.item-2 {
    background-color: rgb(156, 165, 32);
    height: 300px;
}
.item-3 {
    height: 300px;
    background-color: rgb(35, 90, 28);
}
.item-4 {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 10px;
    /* background-color: beige; */
}
.row {
    background-color: rgb(67, 96, 134);
}
/* @media only screen and (max-width: 640px) {
        .grid-container {
        display: grid;
        width: 70%;
        height: 80%;
        margin: auto;
        margin-top: 20px;
        grid-template-rows: 100%;
        /* background-color: #2196F3;
        gap: 10px;
    }
} */

/* Flex Design */
.column h1 {
    color: var(--light-grey);
    font-family: "Big Shoulders Display", sans-serif;
    padding-bottom: 15px;
}
.column p {
    color: var(--transparent-white);
    font-size: var(--font-size);
    font-family: "Lexend Deca", sans-serif;
    margin-bottom: 80px;

}
.container {
    /* width: 900px; */
    max-width: 800px;
    max-height: 700px;
    margin-top: 30px;
    margin: auto;
    display: flex;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}
.down-5 {
    margin-top: 5%;
}
.column{
    padding: 30px 50px 30px 30px;
    width: 300px;  
 }
.sedan-container {
    background-color: var(--orange);
    border-radius: 10px 0 0 10px;
}

.suv-container {
    background-color: var(--cyan);
}
.luxury-container {
    background-color: var(--dark-cyan);
    border-radius: 0 10px 10    px 0;

}
.button{
    border: none;
    padding: 13px 30px;
    border-radius: 30px;
    font-family: "Lexend Deca", sans-serif;
    transition: 0.2s;
}
 #suv {
    color: var(--cyan);
 }
 #suv:hover{
    cursor: pointer;
    color: #fff;
    background-color: var(--cyan);
    border: 1px solid #fff;
 }
#sedan {
    color: var(--orange);
}
#sedan:hover{
    cursor: pointer;
    color: #fff;
    background-color: var(--orange);
    border: 1px solid #fff;
 }
#luxury {
    color: var(--dark-cyan);
}
#luxury:hover{
    cursor: pointer;
    color: #fff;
    background-color: var(--dark-cyan);
    border: 1px solid #fff;
 }
 .icon{
    margin: 20px 0px;
 }
 a {
    text-decoration: none;
    font-size: 20px;
    font-family: "Lexend Deca", sans-serif;
    color: black;
}
/* .card {
	background: white;
} */
@media screen and (max-width:810px) {
    .container{
       flex-direction: column;
       margin-bottom: 10px;
       align-items: center;
    }
    .sedan-container{
       border-radius: 20px 20px 0 0;
    }
    .luxury-container{
       border-radius: 0 0 20px 20px;
    }
    .column p{
       margin-bottom: 20px;
    }
 }